@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-dark: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-blue-greyish: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: auto;
  min-width: 650px;
  max-width: 650px;
  height: 30rem;
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
}

.image {
  width: 315px;
  border-radius: 1rem 0 0 1rem;
  background: url("./images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.writeup {
  width: 315px;
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: auto;
}

.writeup > p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.writeup > p:first-of-type {
  color: var(--neutral-dark-blue-greyish);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.writeup > p:nth-of-type(2) {
  color: var(--neutral-dark-blue-greyish);
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2.2rem;
}

.price {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.price > p:first-of-type {
  color: var(--primary-dark);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.price > p:nth-of-type(2) {
  font-size: small;
  text-decoration: line-through;
}

.cart {
  background-color: var(--primary-dark);
  padding: 0.8rem;
  border-radius: 5px;
}

.cart p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-items: center;
  gap: 0.8rem;
  color: var(--neutral-white);
}
